@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Poppins:wght@500;700&display=swap");

body {
  font-family: "League Spartan", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* ================
header area start
==================*/

.header-area {
  width: 70%;
  margin: auto;
  display: flex;
  background-color: #161616;
  padding: 50px 50px 100px;
  border-radius: 30px;
  margin-top: 100px;
  color: aliceblue;
}
.same {
  width: 48%;
  margin: 1%;
}
.headerLeft h1 {
  font-size: 50px;
}
.button {
  background-color: #dd0000;
  color: aliceblue;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
.headerRight {
  text-align: center;
}
.headerRight img {
  width: 50%;
}

/* ================
header area end
==================*/

/* ================
main area start
==================*/
#fullSport-area {
  width: 75%;
  margin: auto;
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
}
.group-area-left {
  width: 200px;
  height: 220px;
  background-color: #161616;
  border-radius: 10px;
  margin-right: 20px;
  padding: 20px;
}
.group-area-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.group-area-left ul li {
  text-align: center;
  background-color: #fff;
  margin: 20px 5px;
  padding: 10px 0;
  border-radius: 10px;
}
.group-area-left ul li a {
  color: #161616;
  text-decoration: none;
}
.activ a {
  background-color: #dd0000;
  padding: 11px 77px 11px;
  border-radius: 10px;
}
.group-area-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.blog {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 7px 5px rgba(217, 214, 214, 0.67);
  -webkit-box-shadow: 0px 0px 7px 5px rgba(217, 214, 214, 0.67);
  -moz-box-shadow: 0px 0px 7px 5px rgba(217, 214, 214, 0.67);
}
.blog img {
  display: block;
  margin-bottom: 30px;
  width: 100%;
}
.transfer {
  background-color: rgb(255, 255, 255);
  color: #161616;
  border: 1px solid #161616;
  width: 100px;
  height: 32px;
  border-radius: 5px;
  transition: 500ms;
}
.transfer:hover {
  background-color: #dd0000;
  color: aliceblue;
  border: none;
}
.blogSpan {
  margin-right: 30px;
}
.bolgsNone {
  display: none;
  width: 30%;
  margin: auto;
  margin-top: 20px;
}
/* ================
main area start
==================*/

/* ================
footer area start
==================*/
.headerLeft h1 {
  font-size: 35px;
}
.headerRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerRight img {
  width: 100%;
  align-items: center;
}
#footer-area {
  background-color: #161616;
}
.inside {
  text-align: center;
  margin-top: 100px;
  padding: 100px 0;
  width: 70%;
  margin: auto;
}
.inside h2 {
  color: aliceblue;
  font-size: 40px;
}
.inside hr {
  border: none;
  height: 1px;
  background-color: gray;
}
.inside ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.inside ul li a {
  color: gray;
  text-decoration: none;
}
.inside i {
  color: gray;
  font-size: 30px;
  margin: 10px;
}
/* ================
footer area start
==================*/

/* ================
Responsive Tablet area start
==================*/
@media only screen and (max-width: 768px) {
  #fullSport-area {
    flex-direction: column;
    margin-top: 50px;
  }
  .group-area-left {
    width: 90%;
    text-align: center;
    background-color: #fff;
    height: 100px;
  }
  .group-area-left ul li {
    display: inline-block;
  }
  .group-area-left a {
    border: 1px solid gray;
    padding: 10px 15px;
    border-radius: 10px;
  }
  .group-area-right {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog:nth-last-child(9) {
    display: none;
  }
  .bolgsNone {
    display: block;
  }
}
/* ================
Responsive Tablet area end
==================*/

/* ================
Responsive Mobile area start
==================*/
@media only screen and (max-width: 576px) {
  .header-area {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headerLeft h1 {
    font-size: 25px;
  }
  .headerLeft p {
    font-size: 14px;
  }
  .headerRight {
    margin-top: 20px;
  }
  .group-area-left {
    height: 220px;
  }
  .group-area-left ul li {
    display: block;
  }
  .group-area-left ul li a {
    padding: 10px 25px;
  }
  .group-area-right {
    grid-template-columns: repeat(1, 1fr);
  }
  .bolgsNone {
    display: none;
  }
  .inside ul {
    display: block;
  }
}
/* ================
Responsive Mobile area end
==================*/
